h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

.a1:link {
  color: #000000;
  text-decoration: none;
}

.a2 {
  cursor: pointer;
}

.a2:hover {
  opacity: 50%;
}

.a3 {
  margin: auto;
  width: 50%;
  height: 300px;
  background-color: tomato;
  box-shadow: 10px 10px 10px 0 gray;
  border: solid 3px #000000;
}

.a4 {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: dotted 2px #0e6edf;
}

.a5-input::placeholder ,.a5-textarea::placeholder{
  color: red;
}

.a6 {
  margin: auto;
  width: 50%;
  height: 300px;
  background-color: royalblue;
  border: solid 3px #000000;
  color: #ffffff;
  position: relative;
}

.a6-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.cat-red {
  color: red;
}

#catBlue {
  color: blue;
}

input::placeholder {
  color: green;
}

div[data-text="target"] {
  color: pink;
}

.a7 {
  list-style: none;
}

.a7 li:first-child {
  color: red;
}

.a7 li:nth-child(5) {
  color: green;
}

.a7 li:last-child {
  color: blue;
}